body{
        background-color: antiquewhite;
}
*{
        margin: 0;
        padding: 0;
}
nav ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        background-color: black;
        color: white;
        height: 55px;

}
.brand img{
        width: 40px;
        padding: 6px
}
.brand {
        display:flex;
        align-items: center;
        font-weight: bolder;
        font-size: 1.3rem;
}
nav ul li{
        padding: 0 12px;
}

.container{
        min-height: 55vh;
        background-color: black;
        color: wheat;
        display: flex;
        margin: 23px auto;
        width: 70%;
        border-radius: 12px;
        padding: 30px;
        background-image: url('bg.jpg');        
        background-size: cover;
}

.bottom{
        position: sticky;
        height: 90px;
        background-color: black;
        color: white;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.icons{
        margin: 25px 0;
        
}
.icons i{
        cursor: pointer;
}

#myProgressBar{
        top: 10px;
        width: 80vw;
        cursor: pointer;
}

.songItemContainer{
        margin-top: 10px;
}

.songItem{
        height: 22px;
        display: flex;
        background-color: white;
        color: black;
        margin: 12px;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
}

.songItem img{
        width: 23px;
        margin: 0 23px;
        border-radius: 34px;
        cursor: pointer;
}

.timestamp{
        margin: 0 23px;
}

.timestamp i{
        cursor: pointer;
}

.songInfo{
        position: absolute;
        left: 10vw;
}

.songInfo img{
        opacity: 0;
        transition: opacity 0.4s ease-in;
}